<ion-content [fullscreen]="true">
  <div class="header">
    <h6>Information</h6>
  </div>

  <div class="container">
    <div class="timeline">
      <div class="item">
        <div class="icon">
          <ion-icon style="width:15px; height:15px; color: white;" name="chatbubbles"></ion-icon>
        </div>
        <center>
          <img src="https://bestpartnereducation.com/public/news/2020/06/university-melbourne-scholarship/1591412275Scholarship-in-University-of-Melbourne.jpg" />
        </center>
        <h3>New Student</h3>
        <p>Welcome to the University of Melbourne!
          The New Students hub contains all the information you'll need to accept your offer, complete your enrolment, and settle in to life at Melbourne.</p>
      </div>
      <div class="item">
        <div class="icon">
          <ion-icon style="width:15px; height:15px; color: white;" name="chatbubbles"></ion-icon>
        </div>
        <h3>Fees and Payment</h3>
        <p>Learn about the types of student fees which may apply to you and how to make a payment. </p>
      </div>
      <div class="item">
        <div class="icon">
          <ion-icon style="width:15px; height:15px; color: white;" name="chatbubbles"></ion-icon>
        </div>
        <h3>Online learning modules</h3>
        <p>Access the Academic Skills Hub on the University's LMS to complete an interactive learning module on the topic of your choice </p>
      </div>
    </div>
  </div>
 
</ion-content>