<ion-header>
  <div class="header">
    <div>
      <ion-icon style="width:25px; height:25px" name="list-sharp"></ion-icon>
    </div>
    <div style="display: flex">
      <ion-icon style="width:25px; height:25px; margin-right: 25px" name="search"></ion-icon>
      <ion-icon style="width:25px; height:25px" name="arrow-redo-sharp" (click)="btnLogout()"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="hero">
    <div class="card-profile">
      <div class="item-user">
        <div class="user">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/800px-User_icon_2.svg.png"/>
        </div>
      </div>
      <div style="width: 70%;">
        <h3>Febri Reinaldi Setijawan</h3>
        <h6>Sistem Informasi B ~ 14200014</h6>
      </div>
    </div>

  </section>

  <div class="custom-shape-divider-bottom-1666948775">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>
  
  <section class="menu">
    <div class="container">
      <h1>Academic</h1>
      <ion-slides>
        <ion-slide>
          <div class="wrapper">
              <div class="card">
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="calendar-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>schedule</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="analytics-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>Score</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="podium-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>Attedance</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="pricetags-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>KRS</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="play-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>Live Camp</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="information-circle-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>Info</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="document-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>Library</p>
                  </div>
                </div>
                <div class="item">
                  <div>
                    <div class="icon">
                      <ion-icon name="person-outline" style="width:20px;height:20px; color: white;"></ion-icon>
                    </div>
                    <p>Staff</p>
                  </div>
                </div>
              </div>
          </div>
        </ion-slide>
      </ion-slides>
   </div>
  </section>

  <!-- <div class="line"></div> -->

  <section class="banner">
    <div class="container">
      <h1>Campus</h1>
      <div class="item">
        <img src="https://oztrekk.com/wp-content/uploads/2018/12/melb_welcome.jpg" />
      </div>
    </div>
  </section>

  <section class="banner">
    <div class="container">
      <h1>Coporate Room</h1>
      <div class="item">
        <img src="https://www.unimelb.edu.au/__data/assets/image/0004/2006068/Room2114_03.jpg" />
      </div>
    </div>
  </section>

  <section class="banner">
    <div class="container">
      <h1>Coordinate</h1>
      <div class="item">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.6374001507797!2d144.95596363117775!3d-37.798536626256315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642d45c07254b%3A0xeacb63e2b725ff6d!2sUniversitas%20Melbourne!5e0!3m2!1sid!2sid!4v1666948391556!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"/>
      </div>
    </div>
  </section>


 
</ion-content>